<section class="cart py-16">
    <%if(!session.cart) {%> 
     <div class="empty_cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty</h1>
            <p class="text-lg text-gray-500 mb-12">You probably haven't ordered a pizza yet,<br>
                To order a Pizza,move to <a href="/" class="text-blue-500">Menu page </a>
            </p>
             <img class="w-2/5 mx-auto"src="/img/cart_bg.svg" alt="">
            <a href="/"class="addtocart inline-block rounded-full font-bold px-6 py-2 mt-12">Go Back</a>
        </div>
    </div>
    <%} else{%>

    <div class="container mx-auto w-full px-2 md:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <i class="fas fa-shopping-cart"></i>
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
    

    <div class="pizza_list border-b border-gray-300 pb-4">
        <% for(let pizza of Object.values(session.cart.items)){ %>
        <div class="flex items-center my-8 border-b border-gray-300">
            <img class="w-24" src="/img/<%=pizza.items.image%>" alt="">
            <div class=" flex-1 ml-4">
                <h1 class="font-bold"><%= pizza.items.name %></h1>
                <span><%= pizza.items.size %></span>
            </div>
            <span class="flex-1 font-bold"><%= pizza.qty %> Pcs</span>
            <span class="font-bold text-lg">₹ <%= pizza.items.price * pizza.qty %></span>
        </div>
      <% } %>
    </div>

    <div class="text-right py-4">
        <span class="text-lg font-bold">Total Amount</span>
         <span class=" amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>

         <% if(user){ %>
         <div class="mt-12">
             <form action="/orders" method="POST">
                <span class="font-bold text-red-500 "><%=messages.error%></span>
                 <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" name="phone" id="" placeholder="Phone Number">
                 <input class="border border-gray-400 p-2 w-1/2" type="text" name="address" id="" placeholder="Address">
                 <div>
                    <button class="addtocart px-6 py-2 rounded-full font-bold mt-6" type="submit">Order Now</button>
                 </div>
             </form>
         </div>
         <% }else{%>
         <a href="/login" class=" addtocart inline-block cursor-pointer px-6 py-2 rounded-full font-bold mt-6">Login to continue</a>
         <%}%>
    </div>
</div>
<%}%>
</section>